@import "../../../../../assets/core/scss/imports/variables.scss";
@import "../../../../../assets/core/scss/imports/classes.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  a {
    text-align: center;
    text-decoration: none;
  }

  .images {
    height: 100%;
    width: 60%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;

    @media (max-width:992px) {
      width: 100%;
    }



    .logo {
      position: absolute;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px 2px $shadow-color;

      &.superior {
        left: 60px;
        top: 48px;
      }

      &.inferior {
        left: 60px;
        bottom: 48px;
      }

      &.copy {
        display: flex;
        flex-direction: column;
        right: 40px;
        bottom: 48px;
        font-weight: normal;

        .developed-by {
          color: rgb(230, 230, 230);
        }
      }
    }

    .list {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        // filter: brightness(90%);
        filter: contrast(70%);

        @media (max-width:992px) {
          border-radius: 0;
        }
      }
    }

    .carousel-dots {
      position: absolute;
      left: 60px;
      bottom: 90px;
      display: flex;
      gap: 10px;
      height: 15px;

      .dot {
        width: 8px;
        height: 8px;
        background-color: white;
        border-radius: 100rem;
        box-shadow: $shadow-sm;
        transition: all ease 0.5s;
        cursor: pointer;

        &.active,
        &:active,
        &:focus {
          width: 15px;
          height: 8px;
          box-shadow: $shadow-md;
          background-color: blue;
        }

        &:hover {
          width: 10px;
          height: 10px;
          box-shadow: $shadow-md;
          background-color: blue;
        }
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40%;
    padding: 1rem 6rem;

    @media (max-width:992px) {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      width: 80vw;
      height: fit-content;
      gap: 30px;
    }



    .content-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: fit-content !important;
      gap: 1rem;

      @media (max-width:992px) {
        padding: 2rem;
        border-radius: $rounded;
        box-shadow: $shadow-sm;
        background-color: white;
      }

    }



  }
}
