<div class="sidebar">
  <div class="container">



    <div class="button-list d-flex flex-column">
      <ng-container *ngFor="let route of routes">
        <a routerLink="/{{route.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <ion-icon name="{{route.icon}}-{{tipeOfIcons}}"></ion-icon>
          {{route.title|titlecase}}
        </a>
      </ng-container>
    </div>


    <!-- <div class="logo">
      <a href="#">
        <img src="https://assets.stickpng.com/images/58ac4d880aaa10546adf2711.png" alt="brand-logo">
      </a>
    </div> -->
  </div>
</div>
