 body {
     position: relative;
     width: 100vw;
     height: fit-content;
     min-height: 100vh;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 footer,
 .footer {
     width: 100%;
 }

 .contenedor {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     min-height: 100%;
     background-color: #e7e7e7;
 }

 .contenedor .segment {
     background-color: #aaaaaa;
 }

 .dt-buttons {
     background-color: white;
 }

 .td-width {
     min-width: 200px !important;
 }



 .sorting,
 .sorting_desc,
 .sorting_asc,
 .sorting_disabled {
     background-color: rgb(0, 128, 128) !important;
     color: #e6e6e6 !important;
     /* border: none ; */
 }

 .dataTables_paginate {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     flex-flow: wrap;
     gap: 10px;
 }


 .flex-between {
     display: flex !important;
     flex-direction: row;
     flex-flow: wrap;
     align-items: center;
     justify-content: space-between;

     width: 100% !important;

 }

 .fields .field label {
     margin-top: 3px !important;
 }

 .navbar {
     width: 100%;
     border-radius: 0 !important;
     background-color: rgb(0, 128, 128) !important;
     color: white;
 }

 /* Datatable row colors */
 .green-row {
     background-color: #bce49b;
 }

 .red-row {
     background-color: #DB9190;
 }

 .yellow-row {
     background-color: #FAC484;
 }

 .dttable-button {
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .dttable-button img {
     width: 18px;
 }

 .checkbox {
     margin: 0 !important;
 }

 @media (max-width:1280px) {
     .fields {
         flex-flow: wrap;
     }

 }

 @media (max-width:992px) {
     .container {
         margin: 0 !important;
         width: 100% !important;
     }
 }

 @media (max-width:768px) {
     .fields {
         padding: 7px 1rem;
     }

     .DTFC_RightWrapper,
     .DTFC_LeftWrapper {
         display: none;
     }

     .dataTables_info {
         margin-top: 35px
     }

     .dataTables_paginate,
     .dataTables_info {
         align-items: center;
         justify-content: center;
         text-align: center;
     }

     .pagination {
         display: flex !important;
         flex-direction: row !important;
     }

     .ui.stackable.menu .item {
         width: fit-content !important;
     }
 }

 @media (max-width:480px) {}