<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuevo mantenimiento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base th:href="${#httpServletRequest.requestURI}" class="base-url">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/dataTables.semanticui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/buttons.semanticui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/semantic-ui/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

    <!-- Fomantic UI -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css"
        integrity="sha512-g/MzOGVPy3OQ4ej1U+qe4D/xhLwUn5l5xL0Fa7gdC258ZWVJQGwsbIR47SWMpRxSPjD0tfu/xkilTy+Lhrl3xg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/calendar.min.css"
        integrity="sha512-6Uiu6jE6G5bBZTppPVXR3bFF5Gl+A0m5H7JPr/rF2ScuyH+y5dy6a0GcXJY2kpTJ9JmyyXXaTN3Fl8t/i95BCg=="
        crossorigin="anonymous" /> -->

</head>

<body>
    <div class="contenedor">

        <div class="ui segment fixed navbar">

            <div class="ui secondary menu inverted">
                <div class="header item">
                    <i class="ui icon settings"></i>
                    Nombre aplicación
                </div>
                <a class="item google-drive-opener">
                    Home
                </a>
                <a th:href="@{/}" class="item google-drive-opener">
                    Mantenimientos
                </a>
            </div>
        </div>

        <div class="ui container" style="padding-top: 10px;">
            <div class="flex-between">
                <div>
                    <h1 class="ui header">Nuevo mantenimiento</h1>
                </div>
                <div>
                    <!-- <a th:href="@{${add_url}}" class="ui button green icon">
                        <i class="ui icon plus"></i>
                        Nuevo
                    </a> -->
                    <a class="ui button blue icon" button-save-mnt>
                        <i class="edit outline icon"></i>
                        Guardar cambios
                    </a>

                    <div class="ui mini modal" modal-mnt>
                        <div class="header">
                            Advertencia
                        </div>
                        <div class="content">
                            <p>¿Seguro que quieres guardar estos cambios?</p>
                        </div>
                        <div class="actions">
                            <div class="ui primary approve icon button">
                                <i class="ui icon save"></i>
                                Guardar cambios
                            </div>
                            <div class="ui cancel button">Aún no</div>
                        </div>
                    </div>

                </div>
            </div>

            <br>

            <div class="ui form">
                <div class="ui segment">
                    <div class="two fields">
                        <div class="field">
                            <label>Tipo</label>
                            <select class="ui dropdown">
                                <option th:each="tipo : ${tipos}" th:value="${tipo.id_tipo_mto}"
                                    th:text="${tipo.des_tipo_mto}">
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Procedimiento</label>
                            <select class="ui dropdown">
                                <option value="">Procedimiento</option>
                                <option th:each="proc : ${procedimientos}" th:value="${proc.id_proc_adj}"
                                    th:text="${proc.des_proc_adj}">
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Departamento</label>
                            <select class="ui dropdown">
                                <option value="">Departamento</option>
                                <option th:each="dpto : ${dptos}" th:value="${dpto.id_unidad}"
                                    th:text="${dpto.departamento}">
                                </option>
                            </select>

                        </div>
                        <div class="field">
                            <label>Unidad</label>
                            <select class="ui dropdown">
                                <option value="">Unidad</option>
                                <option th:each="unidad : ${unidades}" th:value="${unidad.id_unidad}"
                                    th:text="${unidad.unidad}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>Solicitante:</label>
                            <select class="ui dropdown">
                                <option value="">Solicitante</option>
                                <option value="0">Solicitante #0</option>
                                <option value="1">Solicitante #1</option>
                                <option value="2">Solicitante #2</option>
                                <option value="3">Solicitante #3</option>
                                <option value="4">Solicitante #4</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>Palabra clave</label>
                            <input type="text" placeholder="Palabra clave">
                        </div>
                    </div>

                    <div class="field">
                        <label>Descripción:</label>
                        <textarea name="descripcion" id="descripcion" rows="3" maxlength="2000"
                            placeholder="Descripción"></textarea>
                    </div>

                    <div class="field">
                        <label>Observaciones:</label>
                        <textarea name="observaciones" id="observaciones" rows="5" maxlength="2000"
                            placeholder="Observaciones"></textarea>
                    </div>

                </div>

            </div>

        </div>

        <br>
        <br>

        <footer>
            <div class="ui inverted vertical footer segment">
                <div class="ui center aligned container">
                    Nombre de la aplicación - Todos los derechos reservados 2020
                </div>
            </div>
        </footer>

    </div>

    <script type="text/javascript" language="javascript" th:src="@{/plugins/jquery/jquery-3.5.1.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/semantic-ui/semantic.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/dataTables.semanticui.min.js}">
        </script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/buttons.semanticui.min.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/jszip.min.js}"></script>
    <!-- <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/pdfmake.min.js}"></script> -->
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/vfs_fonts.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.html5.min.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.print.min.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.colVis.min.js}">
    </script>
    <!-- Fomantic UI -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/components/calendar.min.js"
        integrity="sha512-LYWG+gpXidl3z8q6oCIACEMa4JKaMaxeszqqPYmqzS17DTXK07CIGrdaL+FIA8bz4EJYcUOGotI3DBueas913w=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"
        integrity="sha512-1Nyd5H4Aad+OyvVfUOkO/jWPCrEvYIsQENdnVXt1+Jjc4NoJw28nyRdrpOCyFH4uvR3JmH/5WmfX1MJk2ZlhgQ=="
        crossorigin="anonymous"></script> -->
    <!-- Self -->
    <script type="text/javascript" language="javascript" th:src="@{/js/helpers.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/js/details.js}">
    </script>
</body>

</html>