<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="'Mantenimiento #' + ${mnt.id}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base th:href="${#httpServletRequest.requestURI}" class="base-url">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/dataTables.semanticui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/buttons.semanticui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/fomantic-ui/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

</head>

<body>
    <div class="contenedor">

        <div class="ui segment fixed navbar">

            <div class="ui secondary menu inverted">
                <div class="header item">
                    <i class="ui icon settings"></i>
                    Nombre aplicación
                </div>
                <a class="item google-drive-opener">
                    Home
                </a>
                <a th:href="@{/}" class="item google-drive-opener">
                    Mantenimientos
                </a>
            </div>
        </div>

        <div class="ui container" style="padding-top: 10px;">
            <div class="flex-between">
                <div>
                    <h1 class="ui header" th:text="'Mantenimiento #' + ${mnt.id}"></h1>
                </div>
                <div>
                    <!-- <a th:href="@{${add_url}}" class="ui button green icon">
                        <i class="ui icon plus"></i>
                        Nuevo
                    </a> -->
                    <a class="ui button blue icon disabled" button-save-mnt>
                        <i class="edit outline icon"></i>
                        Guardar cambios
                    </a>

                    <div class="ui mini modal" modal-mnt>
                        <div class="header">
                            Advertencia
                        </div>
                        <div class="content">
                            <p>¿Seguro que quieres guardar estos cambios?</p>
                        </div>
                        <div class="actions">
                            <div class="ui primary approve icon button disabled">
                                <i class="ui icon save"></i>
                                Guardar cambios
                            </div>
                            <div class="ui cancel button">Aún no</div>
                        </div>
                    </div>

                </div>
            </div>

            <br>

            <div class="ui form">
                <div class="ui segment">
                    <div class="two fields">


                        <div class="field">
                            <label>Tipo</label>
                            <input type="text" readonly="true" th:value="${mnt.tipo!=null ? mnt.tipo:''}">
                        </div>
                        <div class="field">
                            <label>Departamento</label>
                            <input type="text" readonly="true" th:value="${mnt.departamento!=null?mnt.departamento:''}">
                        </div>
                        <div class="field">
                            <label>Unidad</label>
                            <input type="text" readonly="true" th:value="${mnt.unidad!=null?mnt.unidad:''}">
                        </div>
                        <div class="field">
                            <label>Unidad auxiliar:</label>
                            <input type="text" readonly="true"
                                th:value="${mnt.unidad_solicitante_aux!=null?mnt.unidad_solicitante_aux:''}">
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <label>Procedimiento</label>
                            <input type="text" readonly="true"
                                th:value="${mnt.procedimiento!=null? mnt.procedimiento:''}">
                        </div>
                        <div class="field">
                            <label>Responsable de área:</label>
                            <input type="text" readonly="true"
                                th:value="${mnt.responsable_area!=null?mnt.responsable_area:''}">
                        </div>
                        <div class="field">
                            <label>Responsable de unidad:</label>
                            <input type="text" readonly="true"
                                th:value="${mnt.responsable_unidad!=null?mnt.responsable_unidad:''}">
                        </div>
                        <div class="field">
                            <label>Responsable auxiliar:</label>
                            <input type="text" readonly="true"
                                th:value="${mnt.responsable_auxiliar!=null?mnt.responsable_auxiliar:''}">
                        </div>
                    </div>
                    <div class="field">
                        <label>Unidad de seguimiento y ejec. cxto:</label>
                        <input type="text" readonly="true" th:value="${mnt.procedencia!=null?mnt.procedencia:''}">
                    </div>
                    <div class="field">
                        <label>Palabra clave</label>
                        <input type="text" readonly="true" placeholder="Palabra clave" th:value="${mnt.palabra_clave}">
                    </div>

                    <div class="field">
                        <label>Descripción:</label>
                        <textarea name="descripcion" id="descripcion" rows="3" maxlength="2000"
                            placeholder="Descripción" th:text="${mnt.txt_descripcion}"></textarea>
                    </div>

                    <div class="field">
                        <label>Observaciones:</label>
                        <textarea name="observaciones" id="observaciones" rows="5" maxlength="2000"
                            placeholder="Observaciones" th:text="${mnt.txt_observaciones}"></textarea>
                    </div>

                    <div th:each="dtl: ${mnt.detalles}">
                        <input type="hidden" class="input-detalles" th:value="${dtl!=null?dtl.toString():''}">
                    </div>

                    <input type="hidden" class="url-get-detail" th:value="${get_detail_url}">
                </div>

                <div class="ui segment datatable-container">

                    <div class="flex-between">
                        <div>
                            <h3 class="ui header">Detalles</h3>
                        </div>
                        <div>
                            <!-- <a th:href="@{${add_url}}" class="ui button green icon">
                                            <i class="ui icon plus"></i>
                                            Nuevo
                                        </a> -->
                            <a class="ui button green icon disabled">
                                <i class="ui icon plus"></i>
                                Añadir nuevo detalle
                            </a>

                        </div>
                    </div>

                    <br>

                    <table class="ui selectable celled table" style="width:100%" id="details_datatable">

                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Estado</th>
                                <th>Inicio contrato</th>
                                <th>Fin contrato</th>
                                <th>Expediente</th>
                                <th>Contrato</th>
                                <th>Adjudicado</th>
                                <th>Prorrogable</th>
                                <th>Inicio prorroga</th>
                                <th>Fin Prorroga</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dtl: ${mnt.detalles}">
                                <td th:text="${dtl.id_detalle_mto}">Id</td>
                                <td th:text="${dtl.estado}">Estado</td>
                                <td th:text="${dtl.fe_ini_contrato}">Inicio contrato</td>
                                <td th:text="${dtl.fe_fin_contrato}">Fin contrato</td>
                                <td th:text="${dtl.cod_expediente}">Expediente</td>
                                <td th:text="${dtl.cod_contrato}">Contrato</td>
                                <td th:text="${dtl.des_empresa}">Adjudicado</td>
                                <td th:text="${dtl.chk_prorroga}" class="boolean">Prorrogable</td>
                                <td th:text="${dtl.fe_ini_prorroga}">Inicio prorroga</td>
                                <td th:text="${dtl.fe_fin_prorroga}">Fin Prorroga</td>
                                <td>
                                    <button class="ui button icon" th:button-modal-details="${dtl.id_detalle_mto}">
                                        <i class="icon eye"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="ui dimmer inverted">
                        <div class="ui text loader">Cargando</div>
                    </div>
                    <div class="ui modal fullscreen modal-details">
                        <i class="close icon"></i>
                        <div class="header" modal-details-header>Detalles #{id}</div>
                        <div class="content ui form">
                            <div class="ui top attached tabular menu" style="overflow-x: auto; overflow-y: hidden;">
                                <a class="item google-drive-opener active" data-tab="uno">Datos geneales</a>
                                <a class="item google-drive-opener" data-tab="dos">Control de memorias</a>
                                <a class="item google-drive-opener" data-tab="tres">Control de ofertas</a>
                                <a class="item google-drive-opener" data-tab="cuatro">Control de garantías,
                                    adjudicación y formalización</a>
                            </div>

                            <div class="tabs-detail-container"></div>
                        </div>
                        <div class="actions">
                            <!-- <div class="ui primary approve button disabled">
                                <i class="save icon"></i>
                                Guardar cambios
                            </div> -->
                            <div class="ui cancel button">Cancelar</div>
                        </div>
                    </div>

                    <div class="ui modal small" modal-cicle>
                        <i class="close icon"></i>
                        <div class="header" modal-cicle-header>Ciclo #{id}</div>
                        <div class="ui form content">

                            <div class="ui segment" modal-cicle-content></div>

                        </div>
                        <div class="actions">
                            <button class="ui cancel button">
                                Cancelar
                            </button>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <br>
        <br>

        <footer>
            <div class="ui inverted vertical footer segment">
                <div class="ui center aligned container">
                    Nombre de la aplicación - Todos los derechos reservados 2020
                </div>
            </div>
        </footer>

    </div>

    <script type="text/javascript" language="javascript" th:src="@{/plugins/jquery/jquery-3.5.1.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/fomantic-ui/semantic.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/dataTables.semanticui.min.js}">
        </script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/buttons.semanticui.min.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/jszip.min.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/vfs_fonts.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.html5.min.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.print.min.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.colVis.min.js}">
    </script>
    <!-- Self -->
    <script type="text/javascript" language="javascript" th:src="@{/js/helpers.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/js/details.js}">
    </script>
</body>

</html>