<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mantenimientos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base th:href="${#httpServletRequest.requestURI}" class="base-url">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/dataTables.semanticui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/datatables/css/buttons.semanticui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/semantic-ui/semantic.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">

    <script type="text/javascript" language="javascript" th:src="@{/plugins/jquery/jquery-3.5.1.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/semantic-ui/semantic.min.js}"></script>

</head>

<body>
    <div class="contenedor">

        <div class="ui segment fixed navbar">

            <div class="ui secondary menu inverted">
                <div class="header item">
                    <i class="ui icon settings"></i>
                    Nombre aplicación
                </div>
                <a class="item google-drive-opener">
                    Home
                </a>
                <a th:href="@{/}" class="item google-drive-opener active">
                    Mantenimientos
                </a>
            </div>
        </div>

        <!-- <div class="ui borderless main menu fixed">
            <div class="ui text container">
                <div class="header item">
                    <i class="ui icon settings"></i>
                    Nombre aplicación
                </div>
                <a th:href="@{/}" class="item google-drive-opener">Mantenimientos</a>
            </div>
        </div> -->

        <div class="ui container" style="padding-top: 10px;">
            <div class="flex-between">
                <div>
                    <h1 class="ui header">Mantenimientos</h1>
                </div>
                <div>
                    <a th:href="@{${add_url}}" class="ui button green icon">
                        <i class="ui icon plus"></i>
                        Nuevo
                    </a>
                </div>
            </div>

            <br>

            <div class="ui form ">
                <div class="ui segment">
                    <h4 class="ui header dividing">Flitros generales</h4>
                    <div class="two fields" style="margin-bottom: 0;">
                        <div class="field">
                            <label>Por texto</label>
                            <input type="text" class="input column_filter" placeholder="Texto" data-column="-1"
                                data-content="Búsqueda por texto en todas las columnas.">
                        </div>
                        <div class="field">
                            <label>Por departamento</label>
                            <select class="ui dropdown column_filter" data-column="6">
                                <option value="">Departamento</option>
                                <option value="-1" selected>Todos</option>
                                <option th:each="dpto : ${dptos}" th:value="${dpto.departamento}"
                                    th:text="${dpto.departamento}">
                                </option>
                            </select>

                        </div>
                        <div class="field">
                            <label>Por unidad</label>
                            <select class="ui dropdown column_filter" data-column="7">
                                <option value="">Unidad</option>
                                <option value="-1" selected>Todas</option>
                                <option th:each="unidad : ${unidades}" th:value="${unidad.unidad}"
                                    th:text="${unidad.unidad}">
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="fruit">Por estado:</label>
                            <div class="inline fields" style=" height: 36px;">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="status" tabindex="0" class="hidden column_filter"
                                            data-column="1" value="Si">
                                        <label>Activos</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="status" tabindex="0" class="hidden column_filter"
                                            data-column="1" value="No">
                                        <label>Inactivos</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="status" checked="" tabindex="0"
                                            class="hidden column_filter" data-column="1" value="-1">
                                        <label>Todos</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">

                        <div class="field">
                            <label>Por contrato</label>
                            <input type="text" class="input column_filter" placeholder="Contrato" data-column="2"
                                data-content="Búsqueda en la columna 'contrato'">
                        </div>

                        <div class="field">
                            <label>Por expediente</label>
                            <input type="text" class="input column_filter" placeholder="Expediente" data-column="3"
                                data-content="Búsqueda en la columna 'expediente'">
                        </div>

                        <div class="field">
                            <label>Por palabra clave</label>
                            <input type="text" class="input column_filter" placeholder="Palabra clave" data-column=""
                                data-content="Búsqueda en la columna 'palabra clave'">
                        </div>
                        <!-- <div class="field">
                            <label>&nbsp</label>
                            <div class="ui buttons fluid">
                                <button class="ui icon button" style="white-space: nowrap;" full-search-button
                                    data-content="Realiza una búsqueda directamente en la base de datos, 
                                                    teniendo en cuenta todos los filtros seleccionados.">
                                    <i class="ui icon filter"></i>
                                    Búsqueda mejorada
                                </button>
                                <button class="ui button icon grey button-busqueda"
                                    data-content="Elimina los filtros y devuelve la consulta al estado inicial.">
                                    <i class="ui icon undo"></i>
                                </button>
                            </div>
                        </div> -->

                    </div>
                </div>

                <input type="hidden" class="all-url" th:value="${all_url}">
                <input type="hidden" class="total-url" th:value="${total_url}">
                <input type="hidden" class="details-url" th:value="${details_url}">

                <div class="ui segment datatable-container">
                    <table class="ui selectable celled table" style="width:100%" id="datatable"></table>
                    <br>
                    <button class="ui button fluid" loadMoreButton data-content="+ 1000"
                        data-position="top center">Cargar mas registros</button>
                </div>

            </div>
        </div>
        <br>
        <br>
        <footer>
            <div class="ui inverted vertical footer segment">
                <div class="ui center aligned container">
                    Nombre de la aplicación - Todos los derechos reservados 2020
                </div>
            </div>
        </footer>
    </div>


    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/dataTables.semanticui.min.js}">
        </script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/dataTables.buttons.min.js}"></script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/buttons.semanticui.min.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/jszip.min.js}"></script>
    <!-- <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/pdfmake.min.js}"></script> -->
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/vfs_fonts.js}"></script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.html5.min.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.print.min.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/plugins/datatables/js/buttons.colVis.min.js}">
    </script>
    <script type="text/javascript" language="javascript"
        th:src="@{/plugins/datatables/js/dataTables.fixedColumns.min.js}">
        </script>
    <script type="text/javascript" language="javascript" th:src="@{/js/helpers.js}">
    </script>
    <script type="text/javascript" language="javascript" th:src="@{/js/index.js}">
    </script>

</body>

</html>