.coky {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  background-color: $back;
  margin: 0;
  padding: 0;

  div {
    z-index: 1;
  }

  .content {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    margin: 0;
    padding: 0;

    .sub {
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;


    }
  }

  .developed-by {
    font-size: 10px;
    color: gray;
  }

  a {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  strong,
  b {
    margin: 0;
    padding: 0;
  }

  .heading {
    display: flex;
    align-items: center;
    gap: 10px;
    word-wrap: none;
    white-space: nowrap;



    &.vertical {
      flex-direction: column;

      hr {
        height: 100px;
        width: 3px;
      }
    }

    hr {
      height: 1px;
      border: none;
      width: 100%;
      background-color: rgb(223, 223, 223);
      border-radius: 100px !important;
    }
  }
}
